{% extends "base.html" %}
{% block title %}Novo Cenário{% endblock %}
{% block content %}
<h1>Adicionar novo Cenário</h1>
<form action="{{url_for('add_cenario', id_rtf=id_rtf, pagina=pagina)}}" method="POST">
    <div style="text-align:center">
        <label for="cenario">Cenário</label>
        <input type="text" name="cenario" id="cenario">

        <label for="resultado_esperado">Resultado Esperado</label>
        <input type="text" name="resultado_esperado" id="resultado_esperado">
    </div>
    <br>
    <div>
        <button type="submit" class="btn btn-block btn-success">Adicionar</button>
    </div>
</form>
{% endblock %}