<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Cenário</title>
</head>
<body>
    <form action="" method="post">
        <textarea name="cenario" id="cenario" cols="30" rows="10" placeholder="Cenário"></textarea>
        <textarea name="resultado_esperado" id="resultado_esperado" cols="30" rows="10" placeholder="Resultado Esperado"></textarea>
        <textarea name="massa" id="massa" cols="30" rows="10" placeholder="Massa de Teste"></textarea>
        <textarea name="Log" id="Log" cols="30" rows="10" placeholder="Log"></textarea>
        <button type="submit">Confirmar</button>
    </form>
</body>
</html>