{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<style>
.content{
    margin: 0px 300px;
}

.menu {
    list-style-type: none;
    font-size: 150px;
    display: inline;
}

</style>

<h2>Menu Principal</h2>
<div class="content">
    <ul>
        <li class="menu">
            <a href="{{ url_for('add_rtf') }}"><i class="fa-solid fa-folder-plus"></i></a>
        </li>
        <li class="menu">
            <a href="{{ url_for('viewRTF')}}"><i class="fa-solid fa-table-list"></i></a>
        </li>
        <li class="menu">
            <a href="{{ url_for('index') }}"><i class="fa-solid fa-house"></i></a>
        </li>
    </ul>
</div>
{% endblock %}