{% extends "base.html" %}
{% block title %}View All RTFs{% endblock %}
{% block content%}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="{{url_for('add_cenario', id_rtf=id_rtf, pagina=pagina)}}">Adicionar Nova Linha</a>
            </div>
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <th>Linha</th>
                        <th>Cenário</th>
                        <th>Resultado Esperado</th>
                        <th>status</th>
                        <th>Massa Teste</th>
                        <th>Log Execucao</th>
                        <th>Ações</th>
                    </thead>
                    <tbody>
                        {% for item in values %}
                            <form action="{{url_for('edit_cenario', id_rtf=item.id_rtf, pagina=item.pagina, linha=item.linha)}}" method="POST">
                                <tr>
                                    <td>{{ item.linha }}</td>
                                    <td><textarea name="cenario" id="cenario" cols="15" rows="5">{{ item.cenario }}</textarea></td>
                                    <td><textarea name="resultado_esperado" id="resultado_esperado" cols="18" rows="5">{{ item.resultado_esperado }}</textarea></td>
                                    <td><textarea name="status" id="status" cols="5" rows="5">{{ item.status }}</textarea></td>
                                    <td><textarea name="massa_teste" id="massa_teste" cols="18" rows="5">{{ item.massa_teste }}</textarea></td>
                                    <td><textarea name="log_execucao" id="log_execucao" cols="18" rows="5">{{ item.log_execucao }}</textarea></td>
                                    <td>
                                        <button type="submit" class="btn btn-block btn-success">Editar POST</button>
                                        <button class="btn btn-block btn-danger"><a href="{{url_for('delete_cenario', id_rtf=item.id_rtf, pagina=item.pagina, linha=item.linha)}}">Deletar</a></button>
                                    </td>
                                </tr>
                            </form>
                        {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="...">
                    <ul class="pagination">
                        {% if pagina==1 %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Anterior</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{{url_for('viewCenarios', id_rtf=id_rtf, pagina=pagina-1)}}">Anterior</a>
                            </li>
                        {% endif %}

                        {% for page in range(qtd_pages) %}
                            <li class="page-item">
                                <a class="page-link" href="{{url_for('viewCenarios', id_rtf=id_rtf, pagina=page+1)}}">{{ page+1 }}</a>
                            </li>
                        {% endfor %}

                        {% if pagina==qtd_pages %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Próxima</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{{url_for('viewCenarios', id_rtf=id_rtf, pagina=pagina+1)}}">Próxima</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}