{% extends "base.html" %}
{% block title %}View All RTFs{% endblock %}
{% block content%}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="{{url_for('add_rtf')}}">Adicionar Novo</a>
            </div>
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Squad</th>
                        <th>Data Atualização</th>
                        <th>Ações</th>
                    </thead>
                    <tbody>
                        {% for item in values %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.descricao }}</td>
                                <td style="text-transform: capitalize;">{{ item.squad }}</td>
                                <td>{{ item.data_update_formatada }}</td>
                                <td>
                                    <a href="{{url_for('viewCenarios', id_rtf=item.id, pagina=1)}}">Acessar</a>
                                    <a href="{{url_for('edit_rtf', id=item.id)}}">Editar</a>
                                    <a href="{{url_for('delete_rtf', id=item.id)}}">Deletar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}