{% extends "base.html" %}
{% block title %}View All RTFs{% endblock %}
{% block content%}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="{{url_for('add_cenario', id_rtf=id_rtf, pagina=pagina)}}">Adicionar Nova Linha</a>
            </div>
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <th>Linha</th>
                        <th>Cenário</th>
                        <th>Resultado Esperado</th>
                        <th>status</th>
                        <th>Massa Teste</th>
                        <th>Log Execucao</th>
                        <th>Ações</th>
                    </thead>
                    <tbody>
                        {% for item in values %}
                            <tr>
                                <td>{{ item.linha }}</td>
                                <td>{{ item.cenario }}</td>
                                <td>{{ item.resultado_esperado }}</td>
                                <td>{{ item.status }}</td>
                                <td>{{ item.massa_teste }}</td>
                                <td>{{ item.log_execucao }}</td>
                                <td>
                                    <a href="{{url_for('edit_cenario', id_rtf=item.id_rtf, pagina=item.pagina, linha=item.linha)}}">Editar</a>
                                    <a href="#">Deletar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div>
                    <p>Página: {{pagina}}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}